* {
  margin: 0;
  font-size: 24px;
  font-family: 'Antonio', sans-serif;
}

ul, li {
  list-style: none;
}

.app-holder {
	display: flex;
	gap: 32px;
  /* background: linear-gradient(57deg, #37d9f4 0%, rgba(253,187,45,1) 100%); */
  background: #B3EEC4;
}
  
.left-block {
	flex: 0 1 28vw;
  background: #fff8dc;

}
  
.inputArea {
 background: #B3BFEE;
 height: 12.65vh;
}

.goButton {
  width: 6.5vw;
  height: 5.03vh;
  background-color: white;
  border: none;
}
  
.resultAtea {
	overflow-y: auto;
	cursor: pointer;
  height: 80vh;
}

.navigationReaults {
  background:#B3BFEE;
  height: 7.35vh;
  position: bottom;
}

.navItem {
  font-size: 18px;
  margin-left: 10px;
  display: inline-block;
  width: 150px;
}

.book-info {
  border-radius: 5px;
  background-color: white;
  margin: 10px 25px;
  padding: 10%;
  width: auto;
}
  
.search-input {
	width: 15.5vw;
  height: 5.03vh;
  margin: 30px 19px 30px 30px;
  padding-left: 10px;
  background:white;
  border: none;
}
  
.select-book {
	background-color: #cccccc;
}
  
.center-block {
	flex: 1 1 47vw;
}
  
.sticky {
  margin: 30px 0  37px;
}

.sticky h2 {
  font-size: 36px;
}

.sticky p {
  margin-bottom: 37px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.addBtn {
  border: none;
  height: 5.03vh;
}
  
.right-block {
	flex: 0 1 25vw;
  background-color: #EEE2B3;
  height: 100vh;
}

.toReadListHolder {
  overflow-y: auto;
	cursor: pointer;
  height: 97vh;
}

div.toReadListHolder>div>div {
  border-radius: 5px;
  background-color: white;
  margin: 10px 25px;
  padding: 10%;
  width: auto;
}



.mark {
  color: #11702c;
  /* border-radius: 5px;
  background-color: white;
  margin: 10px 25px;
  padding: 10%;
  width: auto; */
}
